@import '../fonts/stylesheet.css';
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
}

ul {
  padding: 0;
}

li {
  list-style-position: inside;
}

.red {
  color: #FF0000;
}

.card-reg {
  max-width: 600px;
}

.btn-altari {
  color: #fff;
  background-color: #ff4242;
  border-color: #ff4242;
}

.btn-primary {
  color: #fff;
  background-color: #427eff;
  border-color: #427eff;
}

.btn-altari:hover {
  color: #fff;
  background-color: #eb3b3b;
  border-color: #eb3b3b;
}

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 2px 4px 16px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 16px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.header {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 22px 0px;
}
.header .logo {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 41px;
}
.header .logo .logo-inner {
  color: #FF0000;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 74px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 64px;
  }
}
@media screen and (max-width: 575px) {
  .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
  }
}
.carder {
  background-image: url(../img/illustration.png);
  background-repeat: no-repeat;
  background-position: bottom 10px right 48px;
}
.carder .card-inner {
  max-width: 365px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding-left: 16px;
}
.carder .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #000000;
}
@media screen and (max-width: 575px) {
  .carder .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }
}
.carder .card-text {
  max-width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 18px;
  padding-bottom: 60px;
}
@media screen and (max-width: 575px) {
  .carder .btn-reg {
    padding: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 60px;
  }
}

.btn-reg {
  background: #ff4242;
  border-radius: 7px;
  border: none;
  color: #FFFFFF;
  padding: 16px 32px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .card {
    background-position: center;
    background-size: 87%;
  }
}
.benefits .benefits-text {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 39px;
  max-width: 236px;
  color: #000000;
}
@media screen and (max-width: 1399px) {
  .benefits .benefits-text {
    font-size: 30px;
    line-height: 39px;
    max-width: 210px;
  }
}
@media screen and (max-width: 1199px) {
  .benefits .benefits-text {
    font-size: 34px;
    line-height: 39px;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .benefits .benefits-text {
    font-size: 32px;
  }
}
.benefits .card-benefits {
  width: 174px;
  height: 174px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
}
.benefits .card-benefits .card-benefits-text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding-top: 16px;
}

.services .card-services {
  padding: 48px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 100%;
}
.services .card-services .card-services-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #000000;
}
.services .card-services .card-services-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.services .card-services .card-services-inner-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8D8D8D;
}

.footer {
  background: #FFFFFF;
  -webkit-box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
}
.footer .logo {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 41px;
}
.footer .logo .logo-inner {
  color: #FF0000;
}
.footer .copy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8D8D8D;
}
.footer .right {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.footer .right .right-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}